<% include ../partials/header %>
<section id="show-campground-info-section">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-5 show-campground-card">
                    <img src="<%= campground.image %>" class="card-img-top" alt="<%=campground.name%> image.">
                    <div class="card-body">
                        <h5 class="card-text float-right">$<%= campground.price %>/night</h5>
                        <h5 class="card-title"><%= campground.name %></h5>
                        <% if (campground.rating === 0) { %>
                        <p class="card-text">
                            <em>No reviews yet.</em>
                        </p>
                        <% } else { %>
                        <p class="card-title">
                            <span class="fas fa-star checked-star"></span>
                            <span class="fas fa-star <% if (campground.rating >= 1.5) { %> checked-star <% } %>"></span>
                            <span class="fas fa-star <% if (campground.rating >= 2.5) { %> checked-star <% } %>"></span>
                            <span class="fas fa-star <% if (campground.rating >= 3.5) { %> checked-star <% } %>"></span>
                            <span class="fas fa-star <% if (campground.rating >= 4.5) { %> checked-star <% } %>"></span>
                            <em>(total reviews: <%= campground.reviews.length %>)</em>
                        </p>
                        <p class="card-text">
                            Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
                        </p>
                        <% } %>
                        <hr style="margin-top: 0;">

                        <p class="card-text"><em>Description:</em></p>
                        <p class="card-text mb-5"><%= campground.description %></p>
                        <p class="card-text float-right">
                            <small><em>Submitted by <a
                                        href="/users/<%=campground.author.username%>"><%= campground.author.username %></a>,
                                    <%= moment(campground.createdAt).fromNow() %></em></small>
                        </p>

                        <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                        <a href="/campgrounds/<%=campground.slug%>/edit" class="btn btn-sm btn-warning">Edit</a>
                        <form action="/campgrounds/<%=campground.slug%>?_method=DELETE" method="POST" class="d-inline">
                            <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                        </form>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <!-- Google maps -->
        <div class="row">
            <div class="col-md-12 my-3">
                <div id="map"></div>
            </div>
        </div>

        <!-- Reviews-->
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-text">
                            Latest reviews:
                        </h4>
                        <hr style="margin-top: 0;">

                        <% campground.reviews.slice(0,5).forEach(function(review){ %>
                        <div class="row">
                            <div class="col-md-3">
                                <small><%- '<span class="fas fa-star checked-star"></span>'.repeat(review.rating)%><%- '<span class="fas fa-star"></span>'.repeat(5 - review.rating) %></small>
                                <div class="card-text">
                                    <strong><%= review.author.username %></strong>
                                </div>
                                <div class="card-text">
                                    <small><em><%= review.updatedAt.toDateString() %></em></small>
                                </div>
                                <% if((currentUser && review.author.id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)){ %>
                                <a class="btn btn-sm btn-warning mt-2"
                                    href="/campgrounds/<%=campground.slug %>/reviews/<%=review.id %>/edit">Edit</a>
                                <form id="delete-form"
                                    action="/campgrounds/<%=campground.slug %>/reviews/<%=review.id %>?_method=DELETE"
                                    method="POST" class="d-inline">
                                    <input type="submit" class="btn btn-sm btn-danger mt-2" value="Delete">
                                </form>
                                <% } %>
                            </div>
                            <div class="col-md-9">
                                <p class="card-text mt-3" style="word-wrap: break-word;">
                                    <%= review.text %>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <% }); %>
                    </div>
                </div>
                <div class="mt-3">
                    <a href="/campgrounds/<%= campground.slug %>/reviews"><i class="fas fa-search mx-1"></i> See all
                        reviews</a>
                </div>
                <div class="text-center mt-5">
                    <a href="/campgrounds/<%=campground.slug%>/reviews/new" class="btn btn-custom btn-greenish-full d-block <% if((currentUser && campground.reviews.some(function(review){ return review.author.id.equals(currentUser.id) })) || (currentUser.username === campground.author.username)) { %> disabled <% } %>">Write a New Review</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = {
            lat: lat,
            lng: lng
        };
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
                <strong><%= campground.name %><br />
                <%= campground.location %></strong>
              `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener("click", function () {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfqnSGizLzAraRzpOIDu_oIGfPGJCuVcE&callback=initMap"></script>

<% include ../partials/footer %>