  <% include ../partials/header %>
  <section id="notifications-index-section">
    <div class="container pt-5">
      <div class="row">
        <div class="col-12 mt-5 text-center">
          <h1>Notifications</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-4">
          <ul class="list-group list-group-flush">
            <% if (unreadNotifications && unreadNotifications.length>0) { %>
            <h3>New Notifications</h3>
            <% unreadNotifications.forEach(function(notification) { %>
            <li class="list-group-item mb-3">
              <a href="/notifications/<%= notification.id %>">
                <%= notification.username %> created a new campground %>
              </a>
              <p><small><%= notification.createdAt.toDateString() %></small></p>
            </li>
            <% }); %>
            <% } %>

            <% if (notifications && notifications.length>0) { %>
            <h3>Old Notifications</h3>
            <% } %>

            <% notifications.forEach(function(notification) { %>
            <li class="list-group-item mb-3">
              <a href="/campgrounds/<%= notification.campgroundSlug %>">
                <%= notification.username %> created a new campground %>
              </a>
              <p><small><%= notification.createdAt.toDateString() %></small></p>
            </li>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <% include ../partials/footer-scripts-only %>