<% include ../partials/header %>
<section id="new-review-section">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12 mt-5">
        <h1 class="text-center">New Review for: <%=campground.name%></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3 mt-5">
        <h6>Leave a rating:</h6>
        <form action="/campgrounds/<%=campground.slug%>/reviews" method="POST">
          <div class="form-group">
            <label for="first-rate5"
              title="5 stars - Amazing"><%- '<span class="fas fa-star checked-star"></span>'.repeat(5) %></label>
            <input type="radio" class="form-control" id="first-rate5" value="5" checked name="review[rating]">
          </div>
          <div class="form-group">
            <label for="first-rate4"
              title="4 stars - Very good"><%- '<span class="fas fa-star checked-star"></span>'.repeat(4) %></label>
            <input type="radio" class="form-control" id="first-rate4" value="4" name="review[rating]">
          </div>
          <div class="form-group">
            <label for="first-rate3"
              title="3 stars - Average"><%- '<span class="fas fa-star checked-star"></span>'.repeat(3) %></label>
            <input type="radio" class="form-control" id="first-rate3" value="3" name="review[rating]">
          </div>
          <div class="form-group">
            <label for="first-rate2"
              title="2 stars - Not good"><%- '<span class="fas fa-star checked-star"></span>'.repeat(2) %></label>
            <input type="radio" class="form-control" id="first-rate2" value="2" name="review[rating]">
          </div>
          <div class="form-group">
            <label for="first-rate1" title="1 star - Terible"><span class="fas fa-star checked-star"></span></label>
            <input type="radio" class="form-control" id="first-rate1" value="1" name="review[rating]">
          </div>
          <div class="form-group">
            <textarea name="review[text]" type="text" placeholder="Write a review for this campground..."
              id="review-text" cols="30" rows="5" class="form-control"></textarea>
          </div>
          <div class="form-group mt-5"><input type="submit" value="Submit a Review"
              class="btn btn-custom btn-greenish-full btn-block"></div>
        </form>
        <div class="text-center">
          <a href="/campgrounds/<%= campground.slug %>">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ../partials/footer-scripts-only %>